@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

.eventsPage {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
  align-items: center;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

.addEventButton {
  height: 2.5rem;
  width: 8rem;
  background-color: rgb(27, 27, 27);
  color: rgb(139, 139, 139);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.addEventButton:hover {
  background-color: black;
  color: white;
  border: 1px groove gray;
}

.eventsPage-buttons {
  display: flex;
  gap: 30px;
}

.newEventForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  padding: 1em;
  background-color: #ffffff;
  width: 40%;
  max-width: 25vw;
  height: 40vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  opacity: 1;
  transition: all 1.5s ease;
}

.newEventForm.hidden {
  opacity: 0;
  width: 0;
  padding: 0;
  pointer-events: none;
}

.newEventForm input,
.newEventForm textarea,
.newEventForm select {
  height: 2.2em;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9em;
  box-sizing: border-box;
}

.descriptionContainer {
  position: relative;
}
#description {
  padding: 12px;
  padding-right: 50px;
  box-sizing: border-box;
  min-height: 6vh;
  font-size: 0.8em;
  resize: none;
}

.charCount {
  position: absolute;
  bottom: 12px;
  right: 10px;
  font-size: 0.6em;
  color: #888;
}

textarea::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #858585;
  border-radius: 10px;
}

.newEventForm label {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9em;
}

.newEventForm button {
  height: 6vh;
  width: 100%;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 7vh;
  transition: background-color 0.5s;
}

.newEventForm button:hover {
  background-color: black;
  color: lightgray;
}

.event-container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 33vh;
  opacity: 1;
  transition: all 1s ease;
  gap: 1vw;
}

.event-container.hidden {
  height: 0;
  opacity: 0;
}
.event {
  display: flex;
  gap: 1vw;
  padding: 1em;
  min-width: 50vw;
  height: 100%;
  border-radius: 6px;
  border: 1px solid rgba(33, 33, 33, 0.934);
  background-color: rgb(68, 68, 68);
  transition: width 1s ease, height 1s ease;
}

.event img {
  width: auto;
  height: 100%;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-title {
  display: flex;
  justify-content: space-between;
}

.event-title p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.event-desc {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin-top: 2vh;
}

.event-desc-details {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 50px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.event-desc-details p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  height: 100%;
  width: 65%;
  font-weight: bold;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.event-desc-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}

.delete-event-button,
.delete-user-button {
  display: flex;
  gap: 0.4vw;
  align-items: center;
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  transition: all 0.5s ease;
}

.delete-user-button {
  margin-bottom: 0;
}

.delete-event-button:hover,
.delete-user-button:hover {
  background-color: rgba(16, 16, 16, 0.934);
  cursor: pointer;
}

.attend-button {
  height: 2em;
  width: 7vw;
  background-color: rgb(36, 36, 36);
  color: gray;
  border: 1px solid rgb(88, 88, 88);
  cursor: pointer;
  margin: 1rem 0;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.attend-button:hover {
  background-color: transparent;
  color: white;
  border: 1px groove gray;
}
.event-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  border-top: 1px groove rgba(255, 255, 255, 0.281);
}

.event-footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-weight: bold;
  color: rgb(236, 236, 236);
}

.event-status {
  display: flex;
  width: 7vw;
  height: 3vh;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.organiser {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 28vw;
  height: 100%;
  border-radius: 6px;
  border: 1px solid rgba(33, 33, 33, 0.934);
  background-color: rgb(68, 68, 68);
}

.organiser img {
  width: 6vw;
  height: auto;
  border-radius: 8px;
}

.organiser-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}

.organiser-details p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(236, 236, 236);
  text-align: end;
}

.upcoming-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4em;
  align-items: center;
  border-bottom: 1px solid rgb(30, 30, 30);
  border-radius: 6px;
  width: 100%;
  height: 12vh;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.upcoming-event:hover {
  background-color: rgb(39, 39, 39);
}
.upcoming-event p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(236, 236, 236);
  text-align: end;
}

.upcoming-text {
  text-transform: uppercase;
  color: gray;
  font-size: 1.2em;
}

.event-desc-details p::-webkit-scrollbar {
  width: 10px;
}

.event-desc-details p::-webkit-scrollbar-track {
  background: rgba(33, 33, 33, 0.934);
  border-radius: 5px;
}

.event-desc-details p::-webkit-scrollbar-thumb {
  background: rgba(236, 236, 236, 0.7);
  border-radius: 5px;
}

.event-desc-details p::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 236, 236, 1);
}
