.eventsPage {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
}

.addEventButton {
  height: 2.5rem;
  width: 8rem;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem 0;
}

.addEventButton:hover {
  background-color: black;
  color: lightgray;
}

.newEventForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  padding: 1em;
  background-color: #ffffff;
  width: 90%;
  max-width: 25vw;
  height: 70vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.newEventForm input,
.newEventForm textarea,
.newEventForm select {
  height: 2.2em;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9em;
  box-sizing: border-box;
}

.descriptionContainer {
  position: relative;
}
#description {
  padding: 12px;
  padding-right: 50px;
  box-sizing: border-box;
  min-height: 12vh;
  font-size: 0.8em;
  resize: none;
}

.charCount {
  position: absolute;
  bottom: 12px;
  right: 10px;
  font-size: 0.6em;
  color: #888;
}

textarea::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #858585;
  border-radius: 10px;
}

.newEventForm label {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9em;
}

.newEventForm button {
  height: 6vh;
  width: 100%;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 7vh;
  transition: background-color 0.5s;
}

.newEventForm button:hover {
  background-color: black;
  color: lightgray;
}
