.homePage-footer {
  background-color: rgb(15, 15, 15);
  color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #a3a5a741;
  font-size: 0.9rem;
  width: 100%;
  min-height: 10vh;
}
