@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.homePage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: rgb(15, 15, 15);
  box-shadow: 0 2px 4px rgba(40, 40, 40, 0.2);
  width: 100%;
  min-height: 10vh;
}

.homePage-header div {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.homePage-header input {
  width: 15vw;
  height: 4vh;
  font-size: 1rem;
}

.header-logo img {
  width: 100px;
  height: auto;
}

.homePage-navigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.homePage-navigation a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(234, 234, 234);
  font-size: 1rem;
  font-weight: 500;
}

.homePage-navigation a:hover {
  text-decoration: underline;
}

.search-bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}

.search-input {
  width: auto;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px groove #ccc;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  overflow-y: scroll;
  box-sizing: border-box;
  text-align: left;
}

.results-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1vh 0.5vw;
  border-bottom: 1px solid #f1f1f1;
}

.results-group h4 {
  margin: 0 0 1vh;
  font-size: 1rem;
  color: #555;
  text-transform: uppercase;
}

.results-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.result-item {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  line-height: 1.5;
}

.result-item:hover {
  background-color: #f9f9f9;
}

.no-results {
  padding: 10px;
  font-size: 14px;
  color: #888;
  text-align: center;
}
