@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.homePage {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  background-color: rgb(30, 30, 30);
}

.home-section-container {
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw 5vh 10vw;
  width: 80vw;
}

.home-section-container-text {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.home-section-container p {
  font-size: 3em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  white-space: pre-wrap;
}

.home-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  gap: 0.2vw;
  width: 6vw;
  padding: 0.5vh 1vw;
  border-radius: 16px;
  background-color: green;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.home-section-button:hover {
  background-color: darkgreen;
}
.home-section-button p {
  font-size: 1.5em;
}
.homeContainer {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
  width: 80vw;
  margin-bottom: 4vh;
  gap: 2vh;
}

.homeContainer::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201440%20320%22%3E%3Cpath%20fill%3D%22%230099FF%22%20d%3D%22M0%2C64L1440%2C192L1440%2C0L0%2C0Z%22%2F%3E%3C%2Fsvg%3E")
    repeat-x;
  background-size: 1000px;
  z-index: -1; /* Da bi bio ispod container-a */
}

.homeContainer h3 {
  padding: 0 0.4vw;
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: black;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.homeUsers {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0 0.5vw;
  height: 50vh;
  gap: 1vw;
}

.homeUserCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 14vw;
  height: 40vh;
  font-size: 0.8em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 1vh 0.2vw;
  background-color: rgb(45, 45, 45);
}

.homeUserCardProfile {
  display: flex;
  justify-content: center;
  gap: 3vw;
  width: 100%;
  height: 45%;
  padding: 5vh 0 0 0;
}

.homeUserCardProfileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2vh;
  width: 40%;
  height: 100%;
}

.homeUserCardProfileText p {
  font-weight: 700;
  font-size: 13px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}
.homeUserCardProfile img {
  position: absolute;
  top: -10%;
  border-radius: 100%;
  width: 4vw;
  height: auto;
  border: 6px solid #282828;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeUserCardData {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 90%;
  height: 100%;
}
.homeUserCardData div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1vh 1vw;
  gap: 1vh;
  border-top: 1px solid rgb(196, 196, 196);
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  gap: 0.5vh;
}

.events-container h3 {
  padding-left: 0.5vw;
  color: white;
}

.upcomingEvents-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50vh;
}

.eventCard {
  width: 100%;
  height: 42vh;
  padding: 12px;
  background-color: #343434;
  border-radius: 16px;
  border: 1px solid #454545;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
  overflow: hidden;
  overflow-y: auto;
}

.event-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
  flex: 1;
}

.event-card-header img {
  border-radius: 8px;
  width: 100%;
  height: 82%;
  object-fit: cover;
}

.event-card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}

.event-card-details div {
  display: flex;
  flex-direction: column;
}

.event-card-details p {
  margin: 8px 0;
  white-space: normal;
  word-wrap: break-word;
}

.event-btn {
  align-self: center;
  width: 100px;
  height: 30px;
  background-color: lightgray;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.7s;
  position: absolute;
  bottom: 25px;
}

.event-btn:hover {
  background-color: black;
  color: lightgray;
  transition: 0.7s;
}

.eventCard:hover,
.homeUserCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
  /* transition: all 0.5s ease-in-out; */
  transition: 0.7s;
  border: 1px solid black;
}

.slick-list {
  height: 100%;
  padding-top: 20px !important;
}

.slick-slider.slick-initialized {
  width: 16vw;
}
.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li button:before {
  color: white !important;
}

.slick-prev:before,
.slick-next:before {
  content: none !important;
}

.custom-prev-arrow,
.custom-next-arrow {
  z-index: 1000;
  cursor: pointer;
}

.custom-prev-arrow {
  left: -40px;
}

.custom-next-arrow {
  right: -40px;
}
