* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profilePage {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  background-color: rgb(30, 30, 30);
}

.profile-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 90vh;
}

.sidebar-container {
  display: flex;
  width: 30%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 100%;
}
.sidebar-container__heading {
  margin: 40px 10px 10px 10px;
  font-size: 1.4rem;
  width: 100%;
  color: white;
}

.sidebar-container nav {
  display: flex;
  width: 25%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  position: fixed;
}

.sidebar-list {
  list-style: none;
  width: 100%;
  height: auto;
}

.sidebar-list button {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  margin: 10px 0;
  background-color: inherit;
  border: none;
  color: white;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.sidebar-list button:hover {
  background-color: #4d4d4d;
}

.profile-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 5vh 0;
  height: auto;
}

.profile-data img {
  position: absolute;
  top: -16%;
  right: -5%;
  border-radius: 100%;
  width: 7vw;
  height: auto;
  border: 6px solid #282828;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-data,
.signin-container,
.events-container {
  display: flex;
  align-self: center;
  width: 80%;
  height: auto;
  background-color: #4d4d4d;
  border-radius: 12px;
  text-align: left;
  color: white;
  flex-direction: column;
  padding: 30px;
}

.profile-data {
  position: relative;
}
.information-container,
.signin-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
  justify-content: space-between;
}
.information-container label {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1rem;
}

.profileField input,
.profileField select {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  font-size: 1.5rem;
  border-radius: 12px !important;
}

.profileField {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.profileField p {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 12px;
  background-color: #0d1117f6;
  padding-left: 10px;
  padding-top: 13px;
}
.profile-actions {
  display: flex;
  width: 50%;
  height: 100px;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.profile-actions button {
  height: 50px;
  width: 40%;
  margin: 20px;
  border-radius: 90px;
  border: none;
  cursor: pointer;
}
.profile-actions button:hover {
  background-color: #0d1117f6;
  color: white;
}

.signin-container {
  margin-top: 50px;
}

.events-container {
  margin-top: 50px;
}
