.profilePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.profileContainer {
  max-width: 700px;
  width: 90%;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.profilePicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.profilePicture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.uploadButton {
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.uploadButton:hover {
  color: #555;
}

.profileInfoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30%;
  text-align: left;
}

.profileField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
}

.profileField label {
  font-size: 14px;
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.profileField p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.profileField input {
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  flex: 1;
}

.profileField .value {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profileField select {
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  flex: 1;
  background-color: #fff;
}

.profileField select:focus {
  border-color: #333;
  outline: none;
}

.disabledField {
  background-color: #f0f0f0;
  color: #777;
  border: 1px solid #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.profileField input[disabled] {
  background-color: #f0f0f0;
  color: #777;
  border: 1px solid #ccc;
}

.profileActions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.saveButton,
.cancelButton,
.editButton {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.saveButton {
  background-color: #333;
  color: white;
}

.saveButton:hover {
  background-color: #222;
}

.cancelButton {
  background-color: #ff0a0acb;
  color: white;
}

.cancelButton:hover {
  background-color: #fc0000;
}

.editButton {
  background-color: #333;
  color: white;
}

.editButton:hover {
  background-color: #222;
}
