.register-page {
  background-image: url("../assets/LoginBackground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.register-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(33, 33, 33, 0.544);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px groove;
  border-left-color: white;
  width: 30%;
  min-width: 250px;
  backdrop-filter: blur(10px);
}

.register-div h2 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  width: 85%;
  padding-bottom: 0.5vh;
  border-bottom: 1px groove white;
  color: white;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 12px;
}

.register-form input {
  padding: 10px;
  border: none;
  background-color: rgba(44, 44, 44, 0.408);
  outline: none;
  border-radius: 5px;
  margin: 0;
  font-size: 14px;
  width: 85%;
  color: white;
}
.register-form input::placeholder {
  color: white;
  opacity: 0.7;
}

.register-form input:hover {
  background-color: rgba(44, 44, 44, 0.7);
}

.register-form input {
  transition: background-color 0.3s, color 0.3s;
}

.input-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 5px;
  gap: 10px;
}

.input-icon {
  color: #007bff;
  font-size: 18px;
  width: 10%;
}

.input-with-icon {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.register-button {
  margin-top: 10px;
  padding: 10px;
  border: 0.5px groove;
  border-color: rgb(44, 44, 44);
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  color: rgba(255, 255, 255, 0.624);
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.register-button {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s ease;
}

.register-button:hover {
  border-color: white;
  background-color: rgba(44, 44, 44, 0.48);
  color: white;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.624);
  text-decoration: none;
  margin-bottom: 15px;
}

.login-link strong {
  color: white;
}

.login-link:hover {
  text-decoration: underline;
}
